<p id="notice"><%= notice %></p>

<p>
  <strong>Bookname:</strong>
  <%= @book.bookName %>
</p>

<p>
  <strong>Autorname:</strong>
  <%= @book.autorName %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
